<div *ngIf="record; else loadblock">
  <mat-card>
    <div class="grid">
      <mat-slide-toggle class="grid-3" (change)="toggleDonateChange($event)" [checked]="record.isDonation">
        Donate Money
      </mat-slide-toggle>
      <mat-form-field class="grid-1" *ngIf="!record.isDonation">
        <input
          matInput
          autocomplete="off"
          placeholder="Name"
          [(ngModel)]="record.name"
          (ngModelChange)="recordNameUpdate()"
          [disabled]="record.isDonation"
        />
      </mat-form-field>
      <mat-form-field class="grid-1" *ngIf="record.isDonation">
        <input matInput autocomplete="off" placeholder="Name" value="Money" disabled />
      </mat-form-field>
      <mat-form-field class="grid-2">
        <input
          matInput
          autocomplete="off"
          placeholder="Amount"
          [(ngModel)]="am"
          (ngModelChange)="recordAmountUpdate()"
        />
      </mat-form-field>
      <button
        class="grid-4"
        matTooltip="Delete Record!"
        matTooltipPosition="above"
        (click)="delRec()"
        mat-icon-button
        color="warn"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
<ng-template #loadblock>
  <mat-card>
    <mat-card-content>
      <div class="center-box">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
