.center-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.room-app {
  padding: 2rem 0;
  width: 100%;

  h2 {
    font-size: 5rem;
    margin: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .top {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
  }

  .edit-room {
    display: flex;
    justify-content: flex-end;
  }

  .mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
