.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.room-app {
  padding: 2rem 0;
  width: 100%;

  h2 {
    font-size: 5rem;
    margin: 1rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .top {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid gray;
  }

  .edit-room {
    display: flex;
    justify-content: flex-end;
  }

  .mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mem-con {
  background-color: #242424;
  border-radius: 4px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  display: grid;
  gap: 1rem;
}
