<ng-container *ngIf="isPassed === null; else loaded">
  <p>loading</p>
</ng-container>
<ng-template #loaded>
  <ng-container *ngIf="!isPassed; else passBlock">
    <mat-form-field>
      <input matInput autocomplete="off" placeholder="Password" #pass />
    </mat-form-field>
    <button mat-button (click)="loadRoom(pass)">Enter</button>
  </ng-container>
  <ng-template #passBlock>
    <ng-container *ngIf="roomLoading; else roomLoaded">
      <p>loadddddddddddd</p>
    </ng-container>
    <ng-template #roomLoaded>
      <!-- loaded part-->
      
    </ng-template>
  </ng-template>
</ng-template>
