<ng-container *ngIf="!roomLoading; else loading">
  <ng-container *ngIf="!allow; else passBlock">
    <mat-form-field>
      <input matInput autocomplete="off" placeholder="Password" #passenter />
    </mat-form-field>
    <p *ngIf="passError">Wrong password!</p>
    <button mat-button (click)="validate(passenter.value)">ENTER</button>
  </ng-container>
  <ng-template #passBlock>
    <h1>{{ room.name | roomName: roomId }}</h1>
    <mat-form-field>
      <input matInput autocomplete="off" placeholder="Name" [value]="room.name" #name />
    </mat-form-field>
    <mat-form-field>
      <input matInput autocomplete="off" placeholder="Password" [value]="room.password" #pass />
    </mat-form-field>
    <button mat-button (click)="updateRoomInfo(name.value, pass.value)">SAVE CHANGES</button>
    <button mat-button (click)="openDialog()">DELETE ROOM</button>
    <mat-form-field>
      <input
        matInput
        type="number"
        autocomplete="off"
        placeholder="Extra Money"
        [(ngModel)]="room.extraMoney"
        (ngModelChange)="updateRoomExtraMo()"
      />
    </mat-form-field>
    <button mat-button (click)="addMember()">ADD MEMBER</button>
    <app-member *ngFor="let mem of room.members" [memberID]="mem.id"></app-member>
  </ng-template>
</ng-container>
<ng-template #loading>
  <p>Loading</p>
</ng-template>
