<ng-container *ngIf="!roomLoading; else loading">
  <ng-container *ngIf="!allow; else passBlock">
    <div class="center-box">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Enter Room Password</mat-card-title>
          <mat-card-subtitle>{{ room.name | roomName: roomId }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input
              matInput
              autocomplete="off"
              placeholder="Password"
              [formControl]="formPassControl"
              [errorStateMatcher]="formPassMatcher"
            />
            <mat-error *ngIf="formPassControl.hasError('incorrect')">
              Wrong password!
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="accent" [routerLink]="['']">GO BACK</button>
          <button mat-raised-button color="primary" (click)="validate()">ENTER</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <ng-template #passBlock>
    <div class="room-app">
      <div class="top">
        <button mat-stroked-button color="accent" [routerLink]="['']">GO BACK</button>
        <h2>{{ room.name | roomName: roomId }}</h2>
        <div class="edit-room">
          <button mat-flat-button color="accent" (click)="openDialog()">EDIT ROOM INFO</button>
        </div>
      </div>
      <div class="mid">
        <div>
          <button mat-raised-button color="primary" (click)="addMember()">ADD MEMBER</button>
        </div>
        <mat-form-field>
          <input
            matInput
            autocomplete="off"
            placeholder="Extra Money"
            [(ngModel)]="room.extraMoney"
            (ngModelChange)="updateRoomExtraMo()"
          />
        </mat-form-field>
      </div>
      <div class="mem-con">
        <app-member *ngFor="let mem of room.members" [memberID]="mem.id" [mustPayDat]="memPayDat[mem.id]"></app-member>
      </div>
    </div>
  </ng-template>
</ng-container>
<ng-template #loading>
  <div class="center-box">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
