<div class="nr-container">
  <mat-horizontal-stepper linear labelPosition="bottom" #stepper>
    <mat-step [stepControl]="name">
      <ng-template matStepLabel>Name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" [formControl]="name" />
      </mat-form-field>
      <div class="btn-box">
        <button mat-button color="accent" [routerLink]="['']">EXIT</button>
        <button mat-raised-button color="primary" class="np-btn btn-padd" matStepperNext>
          {{ name.value ? 'NEXT' : 'SKIP' }}
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="pass">
      <ng-template matStepLabel>Password</ng-template>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [formControl]="pass" />
      </mat-form-field>
      <div class="btn-box">
        <button mat-button color="accent" [routerLink]="['']">EXIT</button>
        <button
          mat-raised-button
          color="primary"
          class="np-btn btn-padd"
          (click)="submitForm(); $event.preventDefault()"
          matStepperNext
        >
          {{ pass.value ? 'NEXT' : 'SKIP' }}
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="qr-box">
        <ng-container *ngIf="newRoomId; else qrload">
          <button mat-button matTooltip="Press to copy!" matTooltipPosition="above" (click)="copy()">{{ url }}</button>
          <qrcode [qrdata]="url" [width]="256" [errorCorrectionLevel]="'M'" colorDark="#424242"> </qrcode>
        </ng-container>
        <ng-template #qrload>
          <mat-spinner color="accent" diameter="60"></mat-spinner>
        </ng-template>
      </div>
      <div class="btn-box">
        <button mat-button color="accent" [routerLink]="['']">EXIT</button>
        <button class="btn-padd" mat-button (click)="stepper.reset(); clearId()">RESET</button>
        <button
          mat-raised-button
          color="primary"
          class="btn-padd"
          [routerLink]="['/room', newRoomId]"
          [disabled]="!newRoomId"
        >
          ENTER
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
